/*
 Simplified version of wx.rc from wxWidgets
 Manifest only
*/

//////////////////////////////////////////////////////////////////////////////
//
// Include manifest file for common controls library v6 required to use themes.
//
// Predefining wxUSE_NO_MANIFEST as 1 always disables the use of the manifest.
// Otherwise we include it only if wxUSE_RC_MANIFEST is defined as 1.
//

#if !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)

#if defined(wxUSE_RC_MANIFEST) && wxUSE_RC_MANIFEST

// see "about isolated applications" topic in MSDN
#ifdef ISOLATION_AWARE_ENABLED
    #define wxMANIFEST_ID ISOLATIONAWARE_MANIFEST_RESOURCE_ID
#else
    #define wxMANIFEST_ID CREATEPROCESS_MANIFEST_RESOURCE_ID
#endif

#if !defined(wxUSE_DPI_AWARE_MANIFEST) || wxUSE_DPI_AWARE_MANIFEST == 0
    #define wxMANIFEST_DPI .manifest
#elif wxUSE_DPI_AWARE_MANIFEST == 1
    #define wxMANIFEST_DPI _dpi_aware.manifest
#elif wxUSE_DPI_AWARE_MANIFEST == 2
    #define wxMANIFEST_DPI _dpi_aware_pmv2.manifest
#endif

#define wxRC_STR(text) wxRC_STR2(text)
#define wxRC_STR2(text) #text
#define wxRC_CONCAT(a, b) wxRC_CONCAT2(a, b)
#define wxRC_CONCAT2(a, b) a ## b

#ifdef __GNUC__
    #define wxMANIFEST_FILE "wx/msw/wx" wxRC_STR(wxMANIFEST_DPI)
#else
    #define wxMANIFEST_FILE wxRC_CONCAT(wx/msw/wx, wxMANIFEST_DPI)
#endif
wxMANIFEST_ID RT_MANIFEST wxMANIFEST_FILE

#endif // wxUSE_RC_MANIFEST

#endif // !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)
