[submodule "mu-img2pdf/js"]
	path = mu-img2pdf/js
	url = https://github.com/RoEdAl/mu-img2pdf
[submodule "wxEncodingDetection"]
	path = wxEncodingDetection
	url = https://github.com/RoEdAl/wxEncodingDetection.git
[submodule "wxCmdTools"]
	path = wxCmdTools
	url = https://github.com/RoEdAl/wxCmdTools.git
