[Setup]
AppName={cm:cue2mkc}
AppVerName={cm:cue2mkc} {FileVersion}
AppVersion={FileVersion}
AppCopyright={LegalCopyright}
AppPublisher={CompanyName}

VersionInfoProductName=cue2mkc
VersionInfoDescription=cue2mkc {FileVersion}
VersionInfoVersion={FileVersion}
VersionInfoCompany={CompanyName}
VersionInfoCopyright={LegalCopyright}

